/*-- Reset Rule --*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
/*--******************* Fonts ************************************--*/
/*-- Google Fonts --*/
@font-face {
  font-family: 'stylish';
  src: url('../fonts/stylish.ttf');
}

/*-- Adobe Fonts -----/
    Montserrat added to Adobe Typekit Web fonts
/--------------------*/

/*--******************* Fonts (end) ******************************--*/


/*--******************* Begin Universal Styling ******************--*/
/*------ Sticky Footer ----------*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: normal 1rem/1.5 'montserrat', sans-serif;
  text-align: center;
}

header footer {
  flex-shrink: 0;
}
/*------- Sticky Footer (end) --*/

h1, h2, h3, h4, h5, h6 {
  font: normal 1.5rem/1.5 'stylish', serif;
}

a {
  color: white;
  font: normal 1rem/1.5 'stylish', serif;
  text-decoration: none;
  list-style-type: none;
}

header, footer {
  background-color: #000000;
  color: white;
}

footer {
  padding: 25px;
}

footer h3 {
  font: normal 1rem/1.5 'montserrat', sans-serif;
}

footer a {
  font: bold 1rem/1.5 'montserrat', sans-serif;
}

footer p {
  font-size: 0.7rem;
}


/*--******************* End Universal Styling ********************--*/

/*--******************* Begin Home Page Styling ******************--*/


/*--******************* End Home Page Styling ********************--*/

/*--******************* Begin Busted Page Styling ****************--*/


/*--******************* End usted Page Styling *******************--*/

/*--******************* Begin More Info Styling ******************--*/


/*--******************* End More Info Styling ********************--*/

/*--******************* Begin Media Queries **********************--*/
/*-------------- ### Min-Width Media Query (begin) -----------------*/


/*-------------- ### Min-Width Media Query (end) -------------------*/

/*-------------- ### Min-Width Media Query (begin) -----------------*/


/*-------------- ### Min-Width Media Query (end) -------------------*/

/*--******************* End Media Queries ************************--*/
